{% load staticfiles %}
<html lang="zh-CN">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
        <title>{% block title %}base{% endblock %}</title>

        <!-- Bootstrap -->
        <link rel="stylesheet" href="{% static 'bootstrap-3.3.7/css/bootstrap.min.css' %}">
        <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
        <script src="{% static 'js/jquery-1.12.4.min.js' %}"></script>
        <!-- Include all compiled plugins (below), or include individual files as needed -->
        <script src="{% static 'bootstrap-3.3.7/js/bootstrap.min.js' %}"></script>

        <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
        <script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>


        <script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.js"></script>
        <script src="{% static 'js/emoji_jQuery.min.js' %}"></script>

        <link href="{% static 'css/noticeinfo.css' %}" rel="stylesheet"/>
        <link href="{% static 'css/base.css' %}" rel="stylesheet"/>
        <!-- <link rel="SHORTCUT ICON" href="{% static 'images/favicon.ico' %}"/> -->
        {% block css %}<link href="{% static 'css/learchat.css' %}" rel="stylesheet"/>{% endblock %}
    </head>
    <body>
        <nav class="navbar navbar-default" role="navigation">
            <div class="container-fluid">
                <!-- 品牌和toggle得到更好的移动显示分组 -->
                <nav class="navbar navbar-default navbar-fixed-top">
                    <div class="navbar-header">
                        <a class="navbar-brand" href="{% url 'index' %}"><font color="#007fff"><b>言行</b></font>
                          <!--<img src="bird.jpg" alt="Logo" style="width:40px;">-->
                        </a>
                        <button class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                    </div>
                    <!-- 收集用于切换的导航链接、表单和其他内容 -->
                    <div id="navbar-collapse" class="collapse navbar-collapse">
                        <ul class="nav navbar-nav">
                            <li role="presentation" class="active"><a href="{% url 'index' %}"><b>主页</b></a></li>
                            <li role="presentation"><a href="/find/"><b>发现</b></a></li>
                            <li role="presentation"><a href="/blackhole/"><b>黑洞</b></a></li>
                        </ul>
                        <ul class="nav navbar-nav navbar-right">
                            <div class="navbar-form navbar-left">
                                <form class="input-group" method="get" action="/searchall/">
                                    {% csrf_token %}
                                    <input type="text" class="form-control" name="get_input" placeholder="搜我呀...">
                                    <span class="input-group-btn">
                                        <button class="btn btn-primary" type="submit" style="background-color:#007fff">探索</button>
                                    </span>
                                </form>
                            </div>
                            {% if request.session.is_login %}
                                <li><a href="/noticeinfo/"><img src="/static/images/messageIcon.png"></a></li>
                                <li><a href="/user_home/"><b>诗人:</b></a></li>
                                {% for head in headpoto %}
                                    {% if request.session.user_name == head.username %}
                                       <li><img width="35" height="35" class="js-img-show-head" id="avatarShow" src={{head.avatar.url}}></li>
                                    {% endif %}
                                {% endfor %}
                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><b>{{ request.session.user_name }}</b><span class="caret"></span></a>
                                    <ul class="dropdown-menu">
                                        <li><a href="/user_home/"><span class="glyphicon glyphicon-user"> 个人主页</span></a></li>
                                        <li><a href="/user_info/"><span class="glyphicon glyphicon-cog"> 资料设置</span></a></li>
                                        <li><a href="/logout/"><span class="glyphicon glyphicon-off"> 退出</span></a></li>
                                    </ul>
                                </li>
                            {% else %}
                                <li><a href="/login/"><b>登录</b></a></li>
                                <li><a href="/register/"><b>注册</b></a></li>
                            {% endif %}
                        </ul>
                    </div><!-- /.navbar-collapse -->
                </nav>
            </div><!-- /.container-fluid -->
        </nav>
        {% block content %}{% endblock %}
    </body>
</html>
