<div style="background-color:#f4f5f5">
{% extends 'base.html' %}
{% load staticfiles %}
{% block css %}<link href="{% static 'css/blackhole.css' %}" rel="stylesheet"/>{% endblock %}
{% block title %}言行{% endblock %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-8 col-md-10">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <h2>无底黑洞</h2>
                        <h4>正在夜以继日开发中...</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
</div>

