<div style="background-color:#f4f5f5">
{% extends 'base.html' %}
{% load staticfiles %}
{% block css %}<link href="{% static 'css/noticeinfo.css' %}" rel="stylesheet"/>{% endblock %}
{% block title %}言行{% endblock %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-8 col-md-10">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <h3>通知消息</h3>
                            <ul>
                                {% for notification in request.user.notifications.all %}
                                    <li>[{{ notification.timesince }}之前]，{{ notification.verb }}</li>
                                {% empty %}
                                    <li>暂无消息</li>
                                {% endfor %}
                            </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
</div>

