<div style="background-color:#f4f5f5">
{% extends 'base.html' %}
{% load staticfiles %}
{% block css %}<link href="{% static 'css/userinfo.css' %}" rel="stylesheet"/>{% endblock %}
{% block title %}言行{% endblock %}
{% block content %}


{# {% for recommend in recommendteta %} #}


{% for recommend in recommendall %}
    {% for details in recommendteta %}
        {% if details == recommend %}
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 col-sm-8 col-md-7">
                        <div class="panel panel-default">
                            <div class="panel-body">
                                {% for headimg in headpoto %}
                                    {% if recommend.Temp == headimg.username %}
                                        <div class="headpoto-group">
                                            <h5><img width="48" height="48" class="js-img-show-head" id="avatarShow" src="{{headimg.avatar.url}}"/>&nbsp;&nbsp;{{ recommend.Temp }}</h5>
                                        </div>
                                    {% endif %}
                                {% endfor %}
                                <div class="content-group">
                                    <h5>{{ recommend.content }}</h5>
                                </div>
                                <div class="createtime-group">
                                    <h6>{{ recommend.createTime | date:'Y-m-d H:i:s'}}</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}
    {% endfor %}
{% endfor %}


{% endblock %}

</div>
