<div class="search-page">
{% extends 'base.html' %}
{% load staticfiles %}
{% block css %}<link href="{% static 'css/search.css' %}" rel="stylesheet"/>{% endblock %}
{% block title %}言行{% endblock %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-8 col-md-10">
                <div class="panel panel-default">
                    <div class="panel-body">
                        {% for search in returnsearch %}
                            {{ search }}
                        {% empty %}
                            <h2>没有搜索到符合条件信息...</h2>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
</div>