<div style="background-color:#f4f5f5">
{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}言行{% endblock %}
{% block content %}

    <div class="containter">
        <div class="row">
            <div class="col-xs-10 col-xs-offset-1">
                <div class="panel panel-default">
                    <ul>
                        <li>头像：</li>

                        <img width="48" height="48" class="js-img-show" id="avatarShow" src="{{headpoto.avatar.url}}"/>

                        <form action="updateheadphoto" method="post" enctype="multipart/form-data">
                            {% csrf_token %}
                            <input type="file" name="avatar">
                            <input type="submit" value="提交">
                        </form>
                    </ul>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

</div>