<div style="background-color:#f4f5f5">
{% extends 'base.html' %}
{% load staticfiles %}
{% block css %}<link href="{% static 'css/userinfo.css' %}" rel="stylesheet"/>{% endblock %}
{% block title %}言行{% endblock %}
{% block content %}
    <div class="containter">
        <div class="row">
            <div class="col-xs-10 col-xs-offset-1">
                <div class="panel panel-default">
                    <ul><h3><b>资料设置</b></h3></ul>
                    <hr/>
                    <ul>
                        <li><h4>{{request.session.user_name}}<a href="#"> 修改</a></h4></li><hr/>
                        <li>头像：<img width="48" height="48" class="js-img-show-head" id="avatarShow" src="{% static 'headimages/default.png' %}"><a href="/updateheadphoto/"> 修改</a></li><hr/>
                        {% for info in userinfo %}
                            {% if request.session.user_name == info.name %}
                                <li>性别：{{ info.get_sex_display }} 不可更改</li><hr/>
                                <li>职位：教师<a href="#"> 修改</a><hr/></li>
                                <li>邮箱：
                                    {% if info.email %}
                                        {{ info.email }} <a href="#">修改</a>
                                    {% else %}
                                        未绑定 <a href="">绑定邮箱</a>
                                    {% endif %}
                                </li><hr/>
                            {% endif %}
                        {% endfor %}
                        <li>最后一次登录时间：{{ username.last_login|date:"Y-m-d H:i:s" }}</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
</div>
