<div style="background-color:#f4f5f5">
{% extends 'base.html' %}
{% load staticfiles %}
{% block css %}<link href="{% static 'css/userinfo.css' %}" rel="stylesheet"/>{% endblock %}
{% block title %}言行{% endblock %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-8 col-md-7">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <ul><h3><b>资料设置</b></h3></ul>
                        <hr/>
                        <ul>
                            {% for headpoto in headimge %}
                                {% if request.session.user_name == headpoto.username %}
                                    <li>头像：<img width="58" height="58" class="js-img-show-head" id="avatarShow" src="{{headpoto.avatar.url}}"><a href="/updateheadphoto/"> 修改</a></li><hr/>
                                {% endif %}
                            {% endfor %}
                            <li>用户名：{{request.session.user_name}}<a href="#"> 修改</a></li><hr/>
                            {% for info in userinfo %}
                                {% if request.session.user_name == info.name %}
                                    <li>性别：{{ info.get_sex_display }} <font color=#8a9aa9>性别不可修改</font></li><hr/>
                                    <li>职位：
                                        {% for introduce in introduceuser %}
                                            {{introduce}}
                                        {% endfor %}
                                        <a href="#"> 修改</a>
                                    </li><hr/>
                                    <input type="text" style="display:none">
                                    <li>邮箱：
                                        {% if info.email %}
                                            {{ info.email }} <a href="#">修改</a>
                                        {% else %}
                                            未绑定 <a href="">绑定邮箱</a>
                                        {% endif %}
                                    </li><hr/>
                                {% endif %}
                            {% endfor %}
                            <li>最后一次登录时间：{{ user.last_login|date:"Y-m-d H:i:s" }}</li>
                        </ul>
                   </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
</div>
