<div style="background-color:#f4f5f5">
{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}言寺{% endblock %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-8 col-md-8">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <h2>{{ request.session.user_name }}</h2>
                        <h4>言行：</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
</div>

