<div style="background-color:#f4f5f5">
{% extends 'base.html' %}
{% load staticfiles %}
{% block css %}<link href="{% static 'css/userinfo.css' %}" rel="stylesheet"/>{% endblock %}
{% block title %}言行{% endblock %}
{% block content %}
    <div class="containter">
        <div class="row">
            <div class="col-xs-10 col-xs-offset-1">
                <div class="panel panel-default">
                    <h3>资料设置</h3>
                    <hr/>
                    <h4>{{request.session.user_name}}</h4>
                    <ul>
                        <li>头像：<a href="/updateheadphoto/">修改头像</a></li>
                        <li>性别：{{ usex.sex }}</li>
                        <li>职位：</li>
                        <li>邮箱：{% if user.email %}{{ user.email}}{% else %}未绑定 <a href="">绑定邮箱</a>{% endif %} </li>
                        <li>最后一次登录时间：{{ username.last_login|date:"Y-m-d H:i:s" }}</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

</div>
