<script type="text/javascript">
       var chatpage=document.getElementById("#fusmdiv");
       if(chatpage.innerHTML=='')
       {
            chatpage.style.display='none';
       }
</script>

<div style="background-color:#f4f5f5">
{% extends 'base.html' %}
{% load staticfiles %}
{% block css %}<link href="{% static 'css/userhome.css' %}" rel="stylesheet"/>{% endblock %}
{% block title %}言行{% endblock %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-8 col-md-7">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="myhome">
                            {% for headpoto in headimge %}
                                {% if request.session.user_name == headpoto.username %}
                                    <div class="myheadphoto" style="display:inline;float:left;">
                                        <img width="80" height="80" class="js-img-show-head" id="avatarShow" src="{{headpoto.avatar.url}}">
                                    </div>
                                {% endif %}
                            {% endfor%}
                            <div class="myname" style="display:inline;float:left;">
                                <h3>{{ request.session.user_name }}</h3>
                            </div>
                            <div class="introduce" style="display:inline;float:left;">
                                <h5><span class="glyphicon glyphicon-briefcase"></span>
                                    {% for introd in userintroduce %}
                                        {{ introd }}
                                    {% endfor %}
                                </h5>
                            </div>
                            <div class="updateinfo" style="display:inline;float:right;">
                                <a href="/user_info/"><button type="button" class="btn btn-primary">编辑个人资料</button></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-8 col-md-7">
                <div class="panel panel-default">
                    <div class="content-dynamic">
                        <h4>动态</h4>
                    </div>
                </div>
            </div>
            {% for mecontent in allcontent %}
                <div class="col-xs-12 col-sm-8 col-md-7" id="fusmdiv">
                    <div class="panel panel-default" id="paneldiv">
                        <div class="mycontent" id="mycontentdiv">
                            <!--
                            {% for headpoto in headimge %}
                                {% if request.session.user_name == headpoto.username %}
                                    <h5><img width="48" height="48" class="js-img-show-head" id="avatarShow" src="{{headpoto.avatar.url}}"/>
                                {% endif %}
                            {% endfor %}
                            -->
                            {% if request.session.user_name == mecontent.Temp %}
                                <div class="username-home" id="userdiv">
                                    <h5>{{ mecontent.Temp }}</h5>
                                </div>
                                <div class="username-content" id="contentdiv">
                                    <h5>{{ mecontent.content }}</h5>
                                </div>
                                <div class="content-time" id="timediv">
                                    <h6>{{ mecontent.createTime | date:'Y-m-d H:i:s' }}</h6>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
</div>

