<div class="fundnearhistory-page">
{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}言行{% endblock %}
{% block content %}
{% block css %}<link href="{% static 'css/findhistory.css' %}" rel="stylesheet"/>{% endblock %}
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-8 col-md-10">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <h2>动态字符</h2>

                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
</div>