body {
  background-color: #66B3FF;
}

div.about-yanxing {
    background:
}
div.panel-body {
    text-align: center;
}
div.panel-body h1 {
    margin-top: 50px;
}
div.panel-body h1 a {
    text-decoration: none;
    color: #000;
}
