/*把导航栏居中对齐下面显示的内容*/
/*
div.navbar-header {
    margin-left: 65px;
}
.navbar-default .navbar-form {
    margin-left: 365px;
}
把导航栏居中对齐下面显示的内容*/

/*显示内容css
div.chat {
    margin-bottom: 2em;
    padding-bottom: 1em;
    border-bottom: 1px solid #eee;
    position: relative;
}
*/
div.chat h4 {
    font-size: 1.7rem;
    font-weight: 600;
    margin-left:27px;
}
div.chat h4 a {
    margin-left: 0px;
    color: #2e3135;
}
div.panel-body h4 li a {
    color: #17181a;
    font-size: 15px;
    font-weight: 600;
}
div.chat h5 {
    margin-top: 0.5em;
    line-height: 2;
    font-size: 15px;
    color: #17181a;
    margin-left:85px;
}
div.chat h6 {
    margin-left:85px;
}
.panel-default>.panel-heading {
    background-color: #fff;
}
div.body {
    line-height: 0.5;
}
div.panel-body li {
    font-size: 1.25rem;
    font-weight: 600;
    color: #2e3135;
}
div.bottom.style4 {
    position: absolute;
    right: 0px;
    bottom: 0px;
    background: #000000;
    color: #fff;
    display: block;
    width: 100%;
    text-align: center;
    z-index: 10;
}
div.bottom span.style4 {
    position: relative;
    display: block;
    color: #909090;
    font-size: 1.25rem;
    line-height: 1.6;
}
div.chat button btn btn-default {
    line-height: 0.5;
}
div.chat hr {
    margin-bottom: 5px;
}
div.btn-group-justified {
    margin:0px auto;
    margin-top:12px;
    margin-left:85px;
}

