/*把导航栏居中对齐下面显示的内容*/
/*
div.navbar-header {
    margin-left: 65px;
}
.navbar-default .navbar-form {
    margin-left: 365px;
}
把导航栏居中对齐下面显示的内容*/

/*显示内容css
div.chat {
    margin-bottom: 2em;
    padding-bottom: 1em;
    border-bottom: 1px solid #eee;
    position: relative;
}
*/
div.chat h4 {
    font-size: 1.7rem;
    font-weight: 600;
    margin-left:27px;
    margin-bottom: -20px;
}
div.chat h4 a {
    margin-left: 0px;
    color: #2e3135;
    text-decoration: none;
}
div.panel-body h4 li a {
    color: #17181a;
    font-size: 15px;
    font-weight: 600;
    text-decoration: none;
}
div.chat h5 {
    margin-top: 0.5em;
    line-height: 2;
    font-size: 15px;
    color: #17181a;
    margin-left:85px;
}
div.chat h6 {
    margin-left:85px;
}
div.content-time {
    color: #778899;
}
.panel-default>.panel-heading {
    background-color: #fff;
}
div.body {
    line-height: 0.5;
}
div.panel-body li {
    font-size: 1.25rem;
    font-weight: 600;
    color: #8a93a0;
}
div.bottom.style4 {
    position: absolute;
    right: 0px;
    bottom: 0px;
    background: #000000;
    color: #fff;
    display: block;
    width: 100%;
    text-align: center;
    z-index: 10;
}
div.bottom span.style4 {
    position: relative;
    display: block;
    color: #909090;
    font-size: 1.25rem;
    line-height: 1.6;
}
div.bottom span.style4 a {
    text-decoration: none;
    color: #909090
}
div.chat button btn btn-default {
    line-height: 0.5;
}
div.chat hr {
    margin-bottom: -15px;
}
div.btn-group-justified {

    margin-top:25px;
    margin-left:85px;
    margin-bottom: -5px;
}
div.recom a {
    color: black;
    text-decoration: none;
}
div.headimg-username h6 a {
    margin-left: -45px;
    text-decoration: none;
    color: #000;
    font-weight: bold;
}
div.headimg-username {
    margin-top: 20px;
}
textarea.form-control {
    resize:none;
    height: 38px;
}
div.btn-group btn-group-justified btn-group a {
    text-decoration: none;
    color: #8a9aa9;
}
div.send-submit{
    line-height: 0.9;
}
div.comment-submit {
    margin-top: 10px;
}
div.form-group {
    margin-top: 10px;
}
div.btn-group a {
    color: #8a9aa9;
    text-decoration: none;
}
img#avatarShow.js-img-show-head {
    margin-top: 7px;
    border-radius: 50%;
}
div.chatheadimage {
    margin-top: -15px;
}
div.inforheadimage {
    margin-top: -15px;
}
div.comment-forms {
    margin-top: 20px;
}
div.emoji {
    margin-top:20px;
}
div.emoji a {
    text-decoration: none;
    margin: 0 auto;
    text-align: center;
    color: #027fff;
}
div.image-send {
    margin-top: 20px;
    margin-left: 15px;
}
div.image-send a {
    text-decoration: none;
    margin: 0 auto;
    text-align: center;
    color: #027fff;
}
div.login-comment {
    margin-top: 20px;
}
div.comment-content {
    margin-top: -15px;
    color: #505050;
}
div.comment-date {
    color: #778899;
}
div.username-info h4 li a {
    margin: 0 auto;
    margin-left: 8px;
}
/*
div.glyphicon glyphicon-thumbs-up .active {
    color: #f22;
}*/
span.glyphicon.glyphicon-thumbs-up {
    color: #8a9aa9;
    cursor: pointer;
}
span.glyphicon.glyphicon-thumbs-up.active{
    color: #ff7575;
}
span.likes {
    color: #8a9aa9;
    cursor: pointer;
}
span.liked-num {
    color: #8a9aa9;
}





/*
.btt .backtotop {
    display: block;
    width: 45px;
    height: 45px;
    margin-left: 10px;
    background: url(http://localhost:8000/media/headimages/top.gif);
    background-image: url(http://localhost:8000/media/headimages/top.gif);
    background-position-x: initial;
    background-position-y: initial;
    background-size: initial;
    background-repeat-x: initial;
    background-repeat-y: initial;
    background-attachment: initial;
    background-origin: initial;
    background-clip: initial;
    background-color: initial;
    cursor: pointer;
}*/
