/* 把导航栏居中对齐下面显示内容*/
/*
div.navbar-header {
    margin-left: 65px;
}
.navbar-default .navbar-form {
    margin-left: 365px;
}

div.form-group {
    width: 320px;
    height: 50px;
}

*/
body {
  background-color: #66B3FF;
}
div.button-register a {
    color: #FFF;
    text-decoration: none;
}
div.footer {
    bottom: 5px;
    width: 100%;
    position: absolute;
}
div.welcom-register h2 {
    margin-top: 5px;
    margin-bottom: 10px;
    /*color: #2828FF;*/
}
input#id_captcha_1 {
    width: 210px;
    height: 35px;
}
div.data-agreement {
    margin-bottom: 10px;
}
div.data-agreement a {
    text-decoration: none;
}
div.form-group {
    margin-bottom: 10px;
}