<div class="about-yanxing">
{% load staticfiles %}
{% block css %}<link href="{% static 'css/about.css' %}" rel="stylesheet"/>{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-8 col-md-10">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <h1><a href="{% url 'index' %}">言行</a></h1>
                        <h2>我们网站叫做“言行”是一个以古诗古文具有文学色彩的交流表达的网站+多维度挖掘历史平台</h2>
                        <h2>“言行”是通过古诗古文的形式发布表达想法交流平台</h2>
                        <h2>在这里你就是现代版诗人，说的话像诗一样美丽</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
</div>
<div class="footer">
    <center>
        <span class="style4">Copyright @ 2019-2020<b>言行</b> |</span>
        <span class="style4">粤ICP备20013987号</span>
    </center>
</div>