<!-- 页脚 版权信息 -->
{% load staticfiles %}
{% block css %}<link href="{% static 'css/learchat.css' %}" rel="stylesheet"/>{% endblock %}

<div class="hidden-xs col-sm-4 col-md-3">
    <div class="bottom">
        <span class="style4"></span>
        <span an class="style4"></span>
        <center>
            <span class="style4"><a href="/about/">关于</a></span>
            <span class="style4">反馈&商务合作316511097@qq.com</span>
            <span class="style4">Copyright @ 2019-2020言行</span>
            <span class="style4">Powered by LeaChat</span>
            <span class="style4">粤ICP备19060781号-1</span>
        </center>
    </div>
</div>