{% load staticfiles %}
{% block css %}<link href="{% static 'css/comment.css' %}" rel="stylesheet"/>{% endblock %}
<head>
    <script src="http://cdn.bootcss.com/jquery/2.2.4/jquery.js"></script>
</head>

<div>
    <!-- 发表评论 -->
    {% if request.session.is_login %}
        <!--
        <script type="text/javascript">
            $(function(){
            //页面加载完毕后开始执行的事件
            $(".reply_btn").click(function(){
                $(".form-group").remove();
                $(this).parent().append("<div class='form-group'><textarea name='content' rows='1'></textarea><br/><input type='submit' value='发表' /></div>");
            });
        });
        </script>
        -->
        <form action="commentviews" method="POST">
        {% csrf_token %}
            <div class="form-group">
                <textarea type="text" class="form-control" name="content" rows="1"></textarea>
                <input type="hidden" name="object_id" value="{{ chat.id }}">
                <input type="hidden" name="content_type" value="Send">
                <input type="submit" class="btn btn-primary" value="发送"></input>
            </div>
        </form>
        <br>
    {% else %}
        <br>
        <h5 class="row justify-content-center">
            请<a href="login">登录</a>评论
        </h5>
        <br>
    {% endif %}
    <!-- 显示评论 <h4>共有{{ comments.count }}条评论</h4> -->
    <div>
        {% for comment in comments %}
            <hr>
            <h6>{{ comment.chats_user }}</h6>
            <h6>{{ comment.content }}</h6>
            <h6>{{ comment.pub_date|date:"Y-m-d H:i:s" }}</h6>
        {% endfor %}
    </div>

</div>
