{% load staticfiles %}
{% block css %}<link href="{% static 'css/learchat.css' %}" rel="stylesheet"/>{% endblock %}

<div class="hidden-xs col-sm-4 col-md-3">
    <div class="panel panel-default">
        <div class="panel-heading"><b>热点推荐</b></div>
        <div class="panel-body">
            <ul style="list-style-type: none;">
                {% for recommd in recommendcontent %}
                    <div class="recom">
                        <p><li><a href="/recommenddetails/" target="_blank">{{ recommd.content }}</a></li></p>
                    </div>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>
