
{% load staticfiles %}
{% block title %}{% endblock %}
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
	<script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
{% block css %}<link href="{% static 'css/register.css' %}" rel="stylesheet"/>{% endblock %}
{% block content %}
    <div class="container">
        <div class="col-md-4 col-md-offset-4">
            <form class="form-register" action="/register/" method="post">

                {% if message %}
                    <div class="alert alert-warning">{{ message}}</div>
                {% endif %}

                {% csrf_token %}

                <div class="welcom-register">
                    <h2 class="text-center"><b>欢迎注册</b></h2>
                </div>

                <div class="panel panel-default">
                    <div class="panel-body">

                        <div class="form-group">
                            {{ register_form.username.label_tag }}
                            {{ register_form.username}}
                        </div>
                        <div class="form-group">
                            {{ register_form.password1.label_tag }}
                            {{ register_form.password1 }}
                        </div>
                        <div class="form-group">
                            {{ register_form.password2.label_tag }}
                            {{ register_form.password2 }}
                        </div>
                        <div class="form-group">
                            {{ register_form.email.label_tag }}
                            {{ register_form.email }}
                        </div>
                        <div class="form-group">
                            {{ register_form.sex.label_tag }}
                            {{ register_form.sex }}
                        </div>
                        <div class="form-group">
                            {{ register_form.captcha.errors }}
                            {{ register_form.captcha.label_tag }}
                            {{ register_form.captcha }}
                        </div>
                        <div class="data-agreement">
                            注册登录即表示同意<a href="/useragreement/" target="_blank">用户协议、</a><a href="/privacyagreement/" target="_blank">隐私政策</a>
                        </div>
                        <div class="button-register">
                            <button type="reset" class="btn btn-primary pull-left" style="background-color:#007fff">重置</button>
                            <button type="button" class="btn btn-primary pull-left" style="background-color:#007fff"><a href="/login/">登录</a></button>
                            <button type="submit" class="btn btn-primary pull-right" style="background-color:#007fff">注册</button>
                        </div>

                    </div>
                </div>

            </form>
        </div>
    </div>
{% endblock %}
<div class="footer">
    <center>
        <span class="style4">Copyright @ 2019-2020<b>言行</b> |</span>
        <span class="style4">粤ICP备19060781号-1</span>
    </center>
</div>

