<div class="resetpassword-page">
{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}言行 - 重置密码{% endblock %}
{% block content %}

{% block css %}<link href="{% static 'css/resetpassword.css' %}" rel="stylesheet"/>{% endblock %}
<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-8 col-md-10">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="reset-password">
                        <p2>忘记密码了吧,让你不记密码 :-)<a href="{{ redirect_to }}">返回</a></p2><br/>
                        <p2>重置密码</p2>
                    </div>

                    <form action="" method="post" id="login">
                        {% csrf_token %}
                        <input type="text" class="name" name="member_name" placeholder="Username" required=""/>
                        <input type="text" class="email" name="member_email" placeholder="email" required=""/>
                        <div class="login-agileits-bottom">
                            <h6><a href="javascript:;" type="button" id="onsubmit">提交</a></h6>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
</div>