<!-- 显示所有用户发表信息 用户、发布内容、发布时间 -->
{% load staticfiles %}
{% block css %}<link href="{% static 'css/learchat.css' %}" rel="stylesheet"/>{% endblock %}

<!-- js点击显示/隐藏评论框-->
<script type="text/javascript">
    $(document).ready(function(){
      $(".reply_btn").click(function(){
        $(".form-group").toggle(500);
        $(".form-comment").toggle(500);
        $(".login-comment").toggle();
      });
    });
</script>

<!-- 用户、发布内容、发布时间 -->
{% for chat in learnchats %}
    <div class="chat">
        <div class="panel panel-default">
            <div class="panel-body">
                {% for head in headpoto %}
                    {% if chat.Temp == head.username %}
                        <h4><a href="/user_home/"><img width="48" height="48" class="js-img-show-head" id="avatarShow" src="{{head.avatar.url}}"/>&nbsp;&nbsp;{{ chat.Temp }}</a></h4>
                    {% endif %}
                {% endfor %}
                <!--
                {% if request.session.user_name != head.username %}
                        <h4><a href="/user_home/"><img width="48" height="48" class="js-img-show" id="avatarShow" src="{% static 'headimages/default.png' %}"/>&nbsp;&nbsp;{{ chat.Temp }}</a></h4>
                {% endif %}
                -->
                <div class="content-time">
                    <h6>{{ chat.createTime | date:'Y-m-d H:i:s' }}</h6> <!--  <font color=#8a9aa9>来自</font>-->
                </div>
                <h5>{{ chat.content | linebreaksbr}}</h5>
                <br/>
                <hr/>
                <div class="btn-group btn-group-justified" role="group">
                    <div class="btn-group" role="group">
                        <a href="javascript:;" class="like_btn"><span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span>点赞</a>
                    </div>
                    <div class="btn-group" role="group">
                        {% if comments_count > 0 %}
                            <a href="javascript:;" class="reply_btn"><span class="glyphicon glyphicon-edit" aria-hidden="true"></span>{{comments_count}}</a>
                        {% else %}
                            <a href="javascript:;" class="reply_btn"><span class="glyphicon glyphicon-edit" aria-hidden="true"></span>评论</a>
                        {% endif %}
                    </div>
                    <div class="btn-group" role="group">
                        <a href="javascript:;" class="forwarding_btn"><span class="glyphicon glyphicon-share" aria-hidden="true"></span>转发</a>
                    </div>
                </div>
                <!--导入评论模块newcomment.html文件 -->
                {% include "login/newcomment.html" %}
            </div>
        </div>
    </div>
{% endfor %}


